{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ title }}</title>
    <!-- Ваши общие CSS-файлы -->
    <link rel="SHORTCUT ICON" href="{% static 'store/img/favicon.ico' %}" type="image/x-icon">

    {% compress css %}
    <link type="text/css" href="{% static 'store/css/style.css' %}?v=2" rel="stylesheet">
    <link type="text/css" href="{% static 'store/css/head.css' %}?v=2" rel="stylesheet">
    <link type="text/css" href="{% static 'store/css/cart.css' %}?v=2" rel="stylesheet">
    <link type="text/css" href="{% static 'store/css/product.css' %}?v=2" rel="stylesheet">
    <link type="text/css" href="{% static 'store/css/reg.css' %}?v=2" rel="stylesheet">
    <link type="text/css" href="{% static 'store/css/login.css' %}?v=2" rel="stylesheet">
    <link type="text/css" href="{% static 'store/css/order.css' %}?v=2" rel="stylesheet">
    {% endcompress %}
    <script src="{% static 'store/js/jquery-1.8.3.js' %}"></script>
    <script src="{% static 'store/js/jquery-ui-1.9.2.custom.js' %}"></script>

</head>

<body>
    <!-- Верхняя часть сайта, включая header, навигацию и поиск -->
    <div id="black_fill"></div>
    <div id="cart_box" class="anime">
        <div class="title_cart">
            <p>МОЯ КОРЗИНА</p>
            <img src="{% static 'store/img/next.png' %}">
        </div>
        <p>Общая сумма: <span class="price_total">0</span></p>
        <div class="content_cart"></div>
        <div id="order" class="btn anime">
            ЗАКАЗАТЬ
            <img src="{% static 'store/img/cart.png' %}">
        </div>
    </div>
    <header class="dark">
        <div id="top" class="wrap">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarText">
                    {% if user.is_authenticated %}

                    <a href="{% url 'store:logout' %}">
                        <div id="logout" class="btn anime">
                            <img src="{% static 'store/img/1.png' %}">
                            ВЫЙТИ
                        </div>
                    </a>
                    <div class="nav-item">
                        <a class="nav-link" href="#">Welcom, {{user.username}}</a>
                    </div>

                    {% else %}

                    <a href="{% url 'store:register' %}">
                        <div id="regis" class="btn anime regis">
                            <img src="{% static 'store/img/1.png' %}">
                            РЕГИСТРАЦИЯ
                        </div>
                    </a>
                    <a href="{% url 'store:login' %}">
                        <div id="sign" class="btn anime">
                            <img src="{% static 'store/img/1.png' %}">
                            ВОЙТИ
                        </div>
                    </a>


                    {% endif %}

                </div>
            </nav>
            <div id="logo">
                <a href="{% url 'store:home' %}"> Fashion look </a>
            </div>
            <a href="{% url 'cart:cart_detail' %}">
                <div id="cart" class="btn anime">
                    {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                    <img src="{% static 'store/img/2.png' %}">
                    КОРЗИНА
                    <div class="counter-circle">
                        <p class="counter">
                            {{ total_items }}
                        </p>
                    </div>
                    ${{ cart.get_total_price }}
                    {% else %}
                    КОРЗИНА
                    {% endif %}
                    {% endwith %}
                </div>
            </a>
        </div>
        <div id="menu" class="wrap">
            <nav id="main_nav">
                <li><a href="#" class="anime">ОДЕЖДА</a></li>
                <li><a href="#" class="anime">ОБУВЬ</a></li>
                <li><a href="#" class="anime">ВЕРХНЯЯ ОДЕЖДА</a></li>
                <li><a href="#" class="anime">АКСЕССУАРЫ</a></li>
                <li><a href="#" class="anime">БРЕНДЫ</a></li>
                <li><a href="#" class="anime">БЛОГ</a></li>
            </nav>
            <div id="search_panel">
                <input type="text" placeholder="ПОИСК">
            </div>
            <div id="search_button">
                <img src="{% static 'store/img/3.png' %}" id="searchbutton">
            </div>
        </div>
    </header>
    <div id="banner">
        <img src="{% static 'store/img/Brand.png' %}">
    </div>
    <!-- Основное содержимое страницы -->
    <main class="wrap">
        {% block content %}
        <div id="rightbar">
            <div class="list_product">
                {% for product in products %}
                <a href="{{ product.get_absolute_url }}">
                    <div class="product box anime">
                        <div class="img_product">
                            <img src='{{ product.image.url }}' alt="asdf">
                        </div>
                        <h2>{{ product.name }}</h2>
                        <p>{{ product.category }}</p>
                        <div class="description">
                            <p> {{ product.description }} </p>
                        </div>
                        <p class="price"> ${{ product.price }} </p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        {% endblock %}
    </main>

    <!-- Нижняя часть сайта, включая footer -->
    <footer>
        <div class="wrap">
            <nav id="footer_nav">
                <li><a href="#">ИНФОРМАЦИЯ</a></li>
                <li><a href="#">ПАРТНЁРАМ</a></li>
                <li><a href="#">СКИДКИ</a></li>
                <li><a href="#">ДОСТАВКА</a></li>
                <li><a href="#">ВОПРОСЫ</a></li>
                <li><a href="#">КОНТАКТЫ</a></li>
            </nav>
            <div id="newsletter">
                <p>ПОДПИСАТЬСЯ НА РАССЫЛКУ</p>
                <input type="text" placeholder="E-mail">
            </div>
            <div>
                <ul id="soc_list">
                    <li><a target="blank" href="#"><img src="{% static 'store/img/vk.png' %}"></a></li>
                    <li><a target="blank" href="#"><img src="{% static 'store/img/fb.png' %}"></a></li>
                    <li><a target="blank" href="#"><img src="{% static 'store/img/twi.png' %}"></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>