{% extends "index.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container py-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Register</h1>
            <form method="POST">
                {% csrf_token %}
                {{ register_form|crispy }}
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
            <p class="text-center mt-3">Already have an account? <a href="{% url 'store:login' %}">Log in</a> instead.</p>
        </div>
    </div>
</div>
{% endblock %}